.header {
  width: 100%;
  background-color: white;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: rgb(3, 211, 159);
  padding-block: 10px;
  box-shadow: 0.5px 0.5px 8px #515151;
}
